
        <!-- BACK-TO-TOP -->
        <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

        <!-- JQUERY JS -->
        <script src="{{absolute_url(asset('build/plugins/jquery/jquery.min.js'))}}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{absolute_url(asset('build/plugins/bootstrap/js/popper.min.js'))}}"></script>
        <script src="{{absolute_url(asset('build/plugins/bootstrap/js/bootstrap.min.js'))}}"></script>

        <!-- SELECT2 JS -->
        <script src="{{absolute_url(asset('build/plugins/select2/js/select2.min.js'))}}"></script>

        <!-- PERFECT SCROLLBAR JS-->
        <script src="{{absolute_url(asset('build/plugins/perfect-scrollbar/perfect-scrollbar.min.js'))}}"></script>
        <script src="{{absolute_url(asset('build/plugins/perfect-scrollbar/pscroll1.js'))}}"></script>

        <!-- SIDE-MENU JS -->
        <script src="{{absolute_url(asset('build/plugins/sidemenu/sidemenu.js'))}}"></script>

        <!-- SIDEBAR JS -->
        <script src="{{absolute_url(asset('build/plugins/sidebar/sidebar.js'))}}"></script>
      
        <!-- STICKY JS -->
        {{ encore_entry_script_tags('js/sticky') }}

        <!-- THEME COLOR  JS -->
        {{ encore_entry_script_tags('js/themeColors') }}

        <!-- CUSTOM JS -->
        {{ encore_entry_script_tags('js/custom') }}

        <!-- SWITCHER-STYLE JS -->
        {{ encore_entry_script_tags('js/switcher-styles') }}

        <!-- SWITCHER JS -->
        {{ encore_entry_script_tags('switcher/switcher') }}